@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply inline-block;
  }
}

body {
  background-color: #dcdcdc;
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

input[type='date']:hover::-webkit-calendar-picker-indicator {
  display: block;
  position: relative;
  left: -10px;
  cursor: pointer;
}

tr button {
  display: none;
}

tr:hover button {
  display: block;
}

td {
  vertical-align: middle;
}

.custom-file-input {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #eee;
  border: 2px solid #ccc;
  border-style: dashed;
  border-radius: 4px;
  font-size: 14px;
  width: 100px;
}

.custom-file-input input {
  display: none;
}

.image-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: fit-content;
}

.change-image-text {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s;
  font-size: 14px;
}

.image-container:hover .change-image-text {
  opacity: 1;
}

tbody tr:last-child {
  border-right-width: 0;
}
